<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title class="titulo">Buscar Manga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="content-wrapper"> <!-- Div envolvente -->
    <!-- Barra de búsqueda -->
    <ion-searchbar 
      [(ngModel)]="searchQuery" 
      (ionInput)="onSearchChange($event)" 
      placeholder="Buscar manga...">
    </ion-searchbar>

    <!-- Lista de resultados -->
    <div class="anime-container">
      <div *ngFor="let anime of resultadosFiltrados" class="anime-item">
        <div class="anime-thumbnail">
          <div class="type-badge" [ngClass]="getTypeClass(anime.tipo )">{{anime.tipo }}</div> <!-- Aviso del tipo -->
          <img class="poster-img" [src]="anime.poster" alt="{{anime.titulo}}" [routerLink]="['/manga-perfil', anime.url]">
          <div class="rating-container">
            <span class="rating-text">{{anime.puntuacion}}</span>
            <i class="fa fa-star rating-star"></i>
          </div>
        </div>
        
        <div class="anime-info">
          <h2 class="anime-title">{{ anime.titulo }}</h2>
        </div>
      </div>
      
      <div *ngIf="buscando" class="spinner-container">
        <div class="loader"></div>
      </div>
    </div>
   
  </div>
</ion-content>
