<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Leer Capítulo {{numCapitulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar el spinner si aún está cargando -->
  <div *ngIf="loading" class="spinner-container">
    <div class="loader"></div>
  </div>

  <!-- Contenedor para mostrar las imágenes una debajo de otra -->
  <div *ngIf="!loading" class="chapter-container">
    <img *ngFor="let image of capitulo" [src]="image" class="chapter-image" />
  </div>

  <div class="navigation-buttons" *ngIf="!loading">
    <ion-button class="navigation-button" *ngIf="prevChapter" (click)="goToPreviousChapter()">
      Episodio Anterior
    </ion-button>
    <ion-button class="navigation-button" *ngIf="nextChapter" (click)="goToNextChapter()">
      Siguiente Episodio
    </ion-button>
  </div>
  
  
</ion-content>
