<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title class="titulo">KING MANGA TV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="album py-3 full-screen">
    <div class="content-wrapper" *ngIf="buscando">

      <!-- Contenido aleatorio -->
      <div *ngIf="aleatorio" class="random-anime-container">
        <div class="random-anime-img-wrapper">
          <div class="new-badge">NUEVO</div>
          <div class="type-badge" [ngClass]="getTypeClass(aleatorio.tipo)">{{aleatorio.capitulo}}</div>
          <img class="random-anime-img" [src]="aleatorio.portada" alt="{{aleatorio.titulo}}" (error)="errorHandler($event)">
          <div class="random-anime-info">
            <div class="title-rating-wrapper">
              <h4 class="random-anime-title">{{aleatorio.titulo}}</h4>
              <div class="random-anime-rating">
                <span>{{aleatorio.fecha_registro}}</span>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      
        <div class="watch-button-wrapper">
          <button class="watch-button" [routerLink]="['/read-chapter/', aleatorio.enlace]">
            <i class="fa fa-play-circle play-icon"></i> COMENZAR A LEER
          </button>
        </div>
      </div>

      <!-- Títulos de capítulos recientes -->
      <div class="heading-container">
        <h3>Últimos Capitulos</h3>
      </div>
      <br>
      
      <!-- Deslizador de capítulos populares -->
      <ion-slides [options]="popularesSlideOpts" *ngIf="ultimosCapitulosManga.length > 0" #popularesSlides class="popular-slides">
        <ion-slide *ngFor="let item of ultimosCapitulosManga">
          <div class="popular-poster">
            <a [routerLink]="['/read-chapter/', item.enlace]">
              <div class="poster-img-wrapper">
                <img class="poster-img" [src]="item.portada" alt="{{item.titulo}}" (error)="errorHandler($event)">
                <div class="rating-container2">
                  <span class="rating-text2">{{item.capitulo}}</span>
                </div>
              </div>
            </a>
            <p class="poster-title">{{item.titulo}}</p>
          </div>
        </ion-slide>
      </ion-slides>

      <!-- Segmento para cambiar entre Mangas y Manwhas -->
      <ion-segment [(ngModel)]="selectedSegment" class="custom-segment">
        <ion-segment-button value="mangas">
          <ion-label>Mangas Populares</ion-label>
        </ion-segment-button>
        <ion-segment-button value="manwhas">
          <ion-label>Manwhas Populares</ion-label>
        </ion-segment-button>
      </ion-segment>
      

      <!-- Contenido de Mangas Populares -->
      <div *ngIf="selectedSegment === 'mangas'">
        <div class="heading-container">
          <h3>Mangas Populares</h3>
        </div>
        <div class="anime-container">
          <div *ngFor="let manga of mangasPopulares" class="anime-item">
            <div class="anime-thumbnail">
              <img class="poster-img" [src]="manga.portada" alt="{{manga.titulo}}" [routerLink]="['/manga-perfil', manga.enlace]">
              <div class="rating-container">
                <span class="rating-text">{{manga.calificacion}}</span>
                <i class="fa fa-star rating-star"></i>
              </div>
            </div>
            <div class="anime-info">
              <h2 class="anime-title">{{ manga.titulo }}</h2>
            </div>
          </div>
        </div>
      </div>

      <!-- Contenido de Manwhas Populares -->
      <div *ngIf="selectedSegment === 'manwhas'">
        <div class="heading-container">
          <h3>Manwhas Populares</h3>
        </div>
        <div class="anime-container">
          <div *ngFor="let manwha of manwhasPopulares" class="anime-item">
            <div class="anime-thumbnail">
              <img class="poster-img" [src]="manwha.portada" alt="{{manwha.titulo}}" [routerLink]="['/manwha-perfil', manwha.enlace]">
              <div class="rating-container">
                <span class="rating-text">{{manwha.calificacion}}</span>
                <i class="fa fa-star rating-star"></i>
              </div>
            </div>
            <div class="anime-info">
              <h2 class="anime-title">{{ manwha.titulo }}</h2>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Spinner mientras se carga -->
    <div *ngIf="!buscando" class="spinner-container">
      <div class="loader"></div>
    </div>
  </div>
</ion-content>
