<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="false">
  <div class="album py-3 full-screen">
    <div class="container" >

      <form style="padding-top: 10%;">
        <ion-item class="custom-item" lines="full">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="user" name="usuario" required></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button (click)="login();" class="ini-sesion" expand="block">Iniciar Sesión</ion-button>
          </ion-col>
        </ion-row>
      </form>
      
     
    </div>

  </div>
</ion-content>

