<ion-header>
  <ion-toolbar class="toolbar-background" style="--border-width: 0px;">
    <ion-title class="titulo" style="color: #4caf50;">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-list lines="none" *ngIf="animes.length > 0" style="--ion-item-background: #212121;">
    <ion-item-sliding #slidingItem *ngFor="let anime of animes; let i = index" style="margin-bottom: 16px; background-color: #212121;">
      <ng-container *ngIf="!anime.isManwha; else isManwhaContent">
        <!-- Mostrar si NO es Manwha -->
        <ion-item [routerLink]="['/anime-perfil', anime.idAnime]">
          <ion-thumbnail slot="start" style="width: 150px; height: 100%; padding-top: 4%;">
            <img [src]="anime.poster" alt="{{ anime.title }}" style="width: 100%; height: 100%; object-fit: cover;">
          </ion-thumbnail>
          <ion-label style="flex: 1; display: flex; flex-direction: column;">
            <h2 style="color: white; white-space: normal; overflow-wrap: break-word;">{{ anime.title }}</h2>
            <p style="color: white; margin-top: auto; display: flex; align-items: center; padding-top: 10%;">
              Calificación: {{ anime.rating }}
              <i class="fa fa-star rating-star" style="margin-left: 4px;"></i>
            </p>
          </ion-label>
        </ion-item>
      </ng-container>
      
      <ng-template #isManwhaContent>
        <!-- Mostrar si es Manwha -->
        <ion-item [routerLink]="['/manwha-perfil', anime.idAnime]">
          <ion-thumbnail slot="start" style="width: 150px; height: 100%; padding-top: 4%;">
            <img [src]="anime.poster" alt="{{ anime.title }}" style="width: 100%; height: 100%; object-fit: cover;">
          </ion-thumbnail>
          <ion-label style="flex: 1; display: flex; flex-direction: column;">
            <h2 style="color: white; white-space: normal; overflow-wrap: break-word;">{{ anime.title }}</h2>
            <p  style="color: white; margin-top: auto; display: flex; align-items: center; padding-top: 10%;">
              Captulos: {{ anime.rating }}
            </p>
          </ion-label>
        </ion-item>
      </ng-template>
      


      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteAnime(anime.idAnime,slidingItem)">
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
  
  <ion-item *ngIf="animes.length === 0" lines="none" style="--ion-item-background: #212121; height: calc(100vh - 56px); border: none;">
    <ion-label style="color: white; text-align: center; display: flex; justify-content: center; align-items: center; height: 100%; padding-top: 10%;">
      No hay animes guardados.
    </ion-label>
  </ion-item>
</ion-content>
