<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title class="titulo">KING ANIME TV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="album py-3 full-screen">
    <div class="container" *ngIf="cargarPeliculasPopulares" >

      <!-- Contenedor para el anime aleatorio -->
      <div *ngIf="aleatorio" class="random-anime-container">
        <!-- Contenedor de la imagen -->
        <div class="random-anime-img-wrapper">
          <div class="new-badge">NUEVO</div> <!-- Aviso de "NEW" -->
          <div class="type-badge" [ngClass]="getTypeClass(aleatorio.tipo)">{{aleatorio.tipo}}</div> <!-- Aviso del tipo -->
          <img class="random-anime-img" [src]="aleatorio.portada" alt="{{aleatorio.titulo}}" (error)="errorHandler($event)">
          <div class="random-anime-info">
            <div class="title-rating-wrapper">
              <h4 class="random-anime-title">{{aleatorio.titulo}}</h4>
              <div class="random-anime-rating">
                <span>{{aleatorio.calificacion}}</span>
                <i class="fa fa-star"></i> <!-- Icono de estrella -->
              </div>
            </div>
          </div>
        </div>
      
        <!-- Descripción debajo de la imagen -->
        <div class="random-anime-description">
          <p>{{aleatorio.descripcion}}</p>
        </div>
         <!-- Botón para comenzar a ver -->
        <div class="watch-button-wrapper">
          <button class="watch-button" [routerLink]="['/anime-perfil', aleatorio.id]">
            <i class="fa fa-play-circle play-icon"></i> COMENZAR A VER
          </button>
        </div>
      </div>
      
     
      
      
      
      <!-- Contenedor para el título "Últimos Episodios" -->
      <div class="heading-container">
        <h3>Últimos Episodios</h3>
      </div>
      <br>

      <!-- Contenedor para el carrusel con ion-slides -->
      <ion-slides [options]="slideOpts" #slides class="carousel-slides">
        <ion-slide *ngFor="let item of animes">
          <div class="card anime-card">
            <a [routerLink]="['/anime-perfil', item.id]">
              <div class="card-img-wrapper">
                <img class="card-img-top" [src]="item.portada" alt="{{item.titulo}}" (error)="errorHandler($event)">
                <i class="fas fa-play play-icon"></i>
              </div>
            </a>
            <div class="card-body text-center">
              <h5 class="card-title">{{item.titulo}}</h5>
              <p class="card-text text-muted">{{item.episodio}}</p>
              <div class="card-footer d-flex justify-content-around">
                <i class="fas fa-heart favorite-icon" title="Añadir a favoritos"></i>
                <i class="fas fa-share-alt share-icon" title="Compartir"></i>
                <i class="fas fa-list-alt season-icon" title="Ver temporada completa" [routerLink]="['/anime-perfil', item.id]"></i>
                <i class="fas fa-cloud-download-alt download-icon" title="Descargar"></i>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
      
      <div class="heading-container">
        <h3>Más Populares</h3>
      </div>
      <br>
      
      <ion-slides [options]="popularesSlideOpts" *ngIf="populares.length > 0" #popularesSlides class="popular-slides">
        <ion-slide *ngFor="let item of populares">
          <div class="popular-poster">
            <a (click)="navigateToPerfil(item.id)">
              <div class="poster-img-wrapper">
                <img class="poster-img" [src]="item.portada" alt="{{item.titulo}}" (error)="errorHandler($event)">
                <div class="rating-container">
                  <span class="rating-text">{{item.calificacion}}</span>
                  <i class="fa fa-star rating-star"></i>
                </div>
              </div>
            </a>
            <p class="poster-title">{{item.titulo}}</p>
          </div>
        </ion-slide>
      </ion-slides>

    
    </div>
    <div *ngIf="!cargarPeliculasPopulares" class="spinner-container">
      <div class="loader"></div>
    </div>
    
  </div>
</ion-content>
